[remmina]
name={{ item.name }}
group={{ item.group | default('General') }}
server={{ item.server }}
protocol={{ item.protocol | upper }}

{% if item.protocol | upper == 'SSH' %}
username={{ item.username | default(desktop_username) }}
ssh_username={{ item.username | default(desktop_username) }}
{% if item.ssh_privatekey is defined and item.ssh_privatekey %}
ssh_privatekey={{ item.ssh_privatekey }}
ssh_auth=2
{% endif %}
{% endif %}

{% if item.protocol | upper == 'RDP' %}
username={{ item.username | default('') }}
{% if item.domain is defined and item.domain %}
domain={{ item.domain }}
{% endif %}
resolution_mode=2
quality=9
sound=off
ignore-tls-errors=1
{% endif %}

{% if item.port is defined %}
port={{ item.port }}
{% endif %}